body {
  background-color: #e7e7e7;
  font-family: 'Rubik', sans-serif;
  margin: 0 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: justify;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 300%;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap')