.icon {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 36px;
    right: 10px;
    bottom: 50px; 
    z-index: 50;
}

#github {
    width: 20px;
    margin-top: 1px;
}

#linkedin {
    width: 20px;
    margin-top: 1px;
}